.home_tag {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.category_section {
    margin-top: 30px;
    padding-left:20px;
    max-width: 200px;
    line-height: 3;
}

.main_category {
    list-style: none;
    margin: 0;
    padding: 0;
}
