.postList {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  text-align: center;
  justify-content: center; /* 수평 가운데 정렬 */
  border: 1px solid gray;
  margin-bottom: 10px;
}

.listTitle {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.postTitle {
  text-align: center; /* 가운데 정렬 */
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.postUpdated {
  margin-left: auto; /*왼쪽 여백 없이 오른쪽 정렬*/
}
